.refs
.claude
.local
.internals
.env
.envrc
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.coverage
.coverage.*
htmlcov/
.coverage
.vscode/
.pytest_cache/
node_modules/
dashboard/dist/
pgwerk/api/static/*
!pgwerk/api/static/.gitkeep
site/
.DS_Store